/*-----------------------------------------------------------------------------

Forum Template By Tj Thouhid

Screen Stylesheet

version:   	1.0
date:      	02/20/2017
author:		Tjthouhid
email:     	tjthouhid@gmail.com
website:   	http://www.tjthouhid.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

